@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300&family=Lora:wght@500&family=Rajdhani:wght@600&family=Ubuntu&display=swap');

*{ margin: 0; padding: 0;}
*, *::before, *::after {
  margin: 0;
  padding: 0;
}

.body{
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    align-content: flex-start;   
}

.font-style{
    font-family: 'Rajdhani', sans-serif;
}

.head{
    padding-top:10px;
    margin-bottom: 15px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 25px;
    background-color: azure;
}

.classmain{
    background-color: aliceblue;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
    height: 73vh;
}

.container{
    left:50%;
    justify-content: center;
    align-items: center;
}

.image{
    margin-bottom: 15px;
    margin-top:20px;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.buttons{
    padding-top:20px;
    margin-bottom: 15px;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn{
    font-size: 20px;
    background-color: rgb(245, 144, 13);
    width: 90%;
    cursor:pointer;
    height:40px;
    padding:7px 12px;
    border: 2px solid aliceblue;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover{
    background-color:rgb(0, 17, 255);
}

.btn:active{
    background-color: rgb(245, 144, 13);
    box-shadow:0 5px #ccc;
    transform: translate(4px);
}
footer{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}